<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina en Desarrollo</title>   
    <link rel="stylesheet" href="../../static/invitacion/styles.css">
</head>

<body class="pagina">
        <!-- SECCION PRINCIPAL -->

        <div class="encabezado">
            <H1><B><em>Sharon & Felipe</em></B></H1>
        </div>



        <!-- SECCION PARA AGRADECIMIENTOS Y DESCRIPCION DEL EVENTO -->
<div>

</div>


        <!-- SECCION DE DETALLES PARA EL EVENTO + MAPA -->
 <div>
    
 </div>

        <!-- SECCION PARA CONFIRMAR ASISTENCIA -->
<div>   
</div>





        <!-- SECCION PARA CONFIRMAR ASISTENCIA -->
    <div>

    </div>











    <!-- Incluir Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>